{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header id="header" role="banner">
    {{#if @blog.cover}}
        <figure><a href="{{@blog.url}}" title="{{@blog.title}}" rel="home"><img src="{{@blog.cover}}" alt="Blog cover"></a></figure>
    {{/if}}

    <h1 id="site-name"><a href="{{@blog.url}}" title="{{@blog.title}}" rel="home">{{@blog.title}}</a></h1>
    <div id="header-message">{{@blog.description}}</div>
</header>
{{! / #header }}

<section id="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

        <article class="{{post_class}}">
            <header>
                <time datetime="{{date format='YYYY-MM-DD'}}" pubdate>{{date format="MMM D, YYYY"}}</time>

                <h1 class="post-title">
                    <a href="{{url}}" title="Permalink to {{{title}}}">{{{title}}}</a>
                </h1>
            </header>

            <div class="content">
                <p>{{excerpt}}&hellip;</p>
                <p><a href="{{url}}" class="more-link">Continue reading <span class="meta-nav">&rarr;</span></a></p>
            </div>
            <!-- / .content -->

            <footer>
                <span class="author">
                    <span class="author-label">Written by</span>
                    {{author.name}}
                </span>
                <span class="tags">
                    <span class="tags-labels">Tagged with</span>
                    {{tags separator=", "}}
                </span>
            </footer>
        </article>
        <!-- / article -->

    {{/foreach}}

    <nav class="post-nav" role="navigation">
        {{pagination}}
    </nav>

</section>
<!-- / #content -->
