{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{> header}}

<section id="content" role="main">

    {{#foreach posts}}

        <article class="{{post_class}}">
            <header>
                <time datetime="{{date format='YYYY-MM-DD'}}" pubdate>{{date format="MMM D, YYYY"}}</time>
                <h1 class="post-title"><a href="{{url}}" title="Permalink to {{{title}}}">{{{title}}}</a></h1>
            </header>

            <div class="content">
                <p>{{excerpt words="48"}}&hellip;</p>
                <p><a href="{{url}}" class="more-link">Continue reading <span class="meta-nav">&rarr;</span></a></p>
            </div>
            <!-- / .content -->

            {{> article-footer}}

        </article>
        <!-- / article -->

    {{/foreach}}

    <nav class="post-nav" role="navigation">
        {{pagination}}
    </nav>

</section>
<!-- / #content -->
