{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{> header}}

<section id="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

        <header>
            <time datetime="{{date format='YYYY-MM-DD'}}" pubdate>{{date format="MMM D, YYYY"}}</time>
            <h1 class="post-title">{{{title}}}</h1>
        </header>

        <div class="content">
            {{content}}
        </div>
        <!-- / .content -->

        {{> article-footer}}

        {{/post}}

    </article>
    <!-- / article -->

</section>
<!-- / #content -->
